<ion-header>
  <ion-navbar>
    <ion-title>
      Checkup
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <ion-item>
    <ion-input [(ngModel)]="todo" placeholder="To do to" type="text"> </ion-input>
    <button ion-button item-end color="primary" (click)="addTodo()">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-item>

  <ion-card text-wrap>
    <ion-list>
      <ion-item-sliding *ngFor="let t of todos">
        <ion-item>
          <ion-label expendable>{{t}} </ion-label>
          <ion-checkbox item-right></ion-checkbox>
        </ion-item>

        <ion-item-options side="right">
          <button ion-button color="danger" (click)="delete(t,todos)">
            <ion-icon name="md-remove"></ion-icon>
          </button>
        </ion-item-options>

      </ion-item-sliding>

    </ion-list>
  </ion-card>
  <hr>

  <ion-item>
    <ion-input [(ngModel)]="material" placeholder="Material to add" type="text"> </ion-input>
    <button ion-button item-end color="primary" (click)="addMaterial()">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-item>

  <ion-card>

    Material

    <ion-icon name="ios-happy-outline"></ion-icon>
    <ion-icon name="ios-sad-outline"></ion-icon>

    <ion-list>
      <ion-item-sliding *ngFor="let m of materials">
        <ion-item>
          <ion-label expendable>{{m}} </ion-label>
         
        </ion-item>

        <ion-item-options side="right">

          <button ion-button color="danger" (click)="delete(m,materials)">
            <ion-icon name="md-remove"></ion-icon>
          </button>
        </ion-item-options>

        <ion-icon name="thumbs-up"></ion-icon>
        
      </ion-item-sliding>
    </ion-list>
  </ion-card>